<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Freak CRM">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Registration</title>

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="css/elegant-icons-style.css" rel="stylesheet" />
  <link href="css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet" />


</head>

<body class="login-img3-body">

  <div class="container">

    <form class="login-form" action="index.html">
      <div class="login-wrap">
        <div class="input-group">
          <span class="input-group-addon">▶</i></span>
          <input type="text" name="name" class="form-control" placeholder="Name" autofocus>
        </div>
        
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
        </div>
        
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" name="password" class="form-control" placeholder="New Password" autofocus>
        </div>
        
        <div class="input-group">
          <span class="input-group-addon">▶</i></span>
          <input type="password" name="rpassword" class="form-control" placeholder="Repeat Password" autofocus>
        </div>
        <button class="btn btn-primary btn-lg btn-block" value="save" type="submit">Create Acoount</button>
        
        <a href="success.html" class="btn btn-primary btn-lg btn-block">Create Account</a>
<a href="login.html" class="btn btn-primary btn-lg btn-block">Back</a>
      </div>
    </form>
    <div class="text-right">
      <div class="credits">
        
        </div>
    </div>
  </div>


</body>

</html>
